# Byte-compiled / optimized / DLL files
__pycache__/

# visual studio
.vs/

# self generated
*.srt
*.txt
*.vtt
*.json

# test input files
*.wav
*.m4a
*.mp4

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/bin/tessdata
/bin/tesseract.exe
/bin/ffprobe.exe
/bin/ffplay.exe
/bin/ffmpeg.exe
/setup_cx.py
/positor.ico
/page.png
